# =========================
# Google OAuth config
# =========================
GOOGLE_OAUTH_CLIENT_ID=client_id

# =========================
# ML server config
# =========================
ML_HOST=food_ml
ML_PORT=8888
ML_TIMEOUT=10s

# =========================
# HTTP server config
# =========================
HTTP_PORT=8000
HTTP_HOST=food_backend

HTTP_WRITE_TIMEOUT=5s
HTTP_READ_TIMEOUT=5s
HTTP_READ_HEADER_TIMEOUT=5s
HTTP_IDLE_TIMEOUT=5s

# =========================
# PostgreSQL config
# =========================
POSTGRES_HOST=food_postgres
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
POSTGRES_SSLMODE=disable

POSTGRES_MAX_CONNS=10
POSTGRES_MIN_CONNS=2
POSTGRES_MAX_CONN_LIFETIME=5m
POSTGRES_MAX_CONN_IDLE_TIME=1m

# =========================
# LLM config
# =========================
LLM_API_KEY=api_key
LLM_MODEL=google/gemma-4-26b-a4b-it:free
LLM_URL=https://openrouter.ai/api/v1/chat/completions
