# =========================
# Google OAuth config
# =========================
GOOGLE_OAUTH_CLIENT_ID=client_id

# =========================
# ML server config
# =========================
ML_HOST=localhost
ML_PORT=8888
ML_TIMEOUT=10s

# =========================
# HTTP server config
# =========================
HTTP_PORT=8000
HTTP_HOST=localhost

HTTP_WRITE_TIMEOUT=5s
HTTP_READ_TIMEOUT=5s
HTTP_READ_HEADER_TIMEOUT=5s
HTTP_IDLE_TIMEOUT=5s

# =========================
# PostgreSQL config
# =========================
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
POSTGRES_SSLMODE=disable

POSTGRES_MAX_CONNS=10
POSTGRES_MIN_CONNS=2
POSTGRES_MAX_CONN_LIFETIME=5m
POSTGRES_MAX_CONN_IDLE_TIME=1m